@charset "UTF-8"
* {
       box-sizing: border-box;
       margin: 0;
}
body {
       background: linear-gradient( hsl(50, 62%, 68%, .5),#8B7A88);
       background-size: cover; 
       background-repeat: no-repeat;
       justify-content: center;
       align-items: center;
       min-height: 100vh;

}
.pagecontainer {
       width: 1020px;
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
}
.dynapuff-googlefontmain {
       font-family: "DynaPuff", system-ui;
       font-optical-sizing: auto;
       font-weight: 550;
       font-style: normal;
       font-variation-settings:
         "wdth" 100;
     }
.atkinson-hyperlegible-mono-googlefontsecond {
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
       font-optical-sizing: auto;
       font-weight: 550;
       font-style: normal;
     }
header{
       height: 100%;
       width: 100%;
       text-align: center;
       margin-bottom: 30px;
}
h1 {
       color: #8B7A88;
       text-align: center;
}
h2 {
       color: #8B7A88;
       text-align: center;
}
h3 {
       color: #615D4A;
       text-align: left;
}

ul {
       list-style-type: none; 
       width: 1020px;
       margin: 0; 
       padding: 0px;
       overflow: hidden;
       background-color: rgba(255, 255, 255, 0.25);
       border-radius: 5px;}
li {
       display: inline-block;
}
a {
       text-decoration: none;
}
li a {
       display: inline-block;
       text-align: center;
       color: #615D4A;
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
       padding: 14px 16px 14px 16px;
}
li a:hover{
       background-color: rgb(139, 122, 136, 0.5);
       font-size: large;
}
.active{
       background-color: #E0CF79;
}
a:active {
       color: #E179CB
}
a:visited {
       color:#4A6160
}
li.dropdown {
       display: inline-block;
}
.dropdown-content {
       display: none;
       position: absolute;
       background-color: rgba(255, 255, 255, 0.25);
       min-width: 150px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
}
.dropdown-content a {
       color: #615D4A;
       padding: 12px 16px;
       text-decoration: none;
       text-align: center;
       display: block;
}    
.dropdown:hover .dropdown-content {
       display: block;
}
.dropdown-content a:hover {
       background-color: rgb(139, 122, 136, 0.25);
}   

.homecon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.AboutMe {
       width: 410px;
       background-color: rgba(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.contact-form-container {
        width: 410px;
        margin: 30px;
        padding: 20px;
        background-color: rgb(255, 255, 255, 0.25);
        border-radius: 20px;
        box-shadow: 0 5 5 0px rgba(0, 0, 0, 0.1);
       }
.contact-form h2 {
        color: #4A6160;
        font-family: dynapuff, serif;
       }
     
.contact-form label {
        display: block;
        margin-bottom: 8px;
        color: #615D4A;
        font-family: Atkinson Hyperlegible Mono, sans-serif;
       }
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
       }
.contact-form input[type="submit"] {
        background-color: #4A6160;
        color: #79E0DD;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Atkinson Hyperlegible Mono, sans-serif;
       }
.contact-form input[type="submit"]:hover {
        background-color: #8B7A88;
       }
img { 
       border-radius: 20px;
}

.servicescon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.ServicesIncluded{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}


.ServiceAreaRadius {
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}




.apidemo {
       width: 410px;
       justify-content: center;
       align-items: center;
}

.availabilitycon{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.Calendar{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.MeetandGreet{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.meetgreetcon{
       width: 1020px;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
}
#lform{
       width: 400px; 
       background-color: rgba(255, 255, 255, 0.5); 
       padding: 10px;
       margin: 10px;
       border-radius: 10px;
       float: left;
}
#rform{
       width: 400px; 
       background-color: rgba(255, 255, 255, 0.5); 
       padding: 10px;
       margin: 10px;
       border-radius: 10px;
       float: right;
}
input[type=text]{
       width: 100%;
       padding: 5px;
       margin: 5px;
       box-sizing: border-box;
       border: none;
       border-radius: 5px;
       border-bottom: 2px solid rgba(0, 0, 0, 0.25);
       background-color: rgba(76, 16, 131, 0.10);
       color: rgb(0, 0, 0);
}
input[type=text]:focus {
       background-color: rgb(173, 230, 212);
     }
input[type=email]{
       width: 100%;
       padding: 5px;
       margin: 5px;
       box-sizing: border-box;
       border: none;
       border-radius: 5px;
       border-bottom: 2px solid rgba(0, 0, 0, 0.25);
       background-color: rgba(76, 16, 131, 0.10);
       color: rgb(0, 0, 0);
}
input[type=email]:focus {
       background-color: rgb(173, 230, 212);
     }
textarea{
       padding: 5px;
       width: 100%;
       border: none;
       border-radius: 5px;
       border-bottom: 2px solid rgba(0, 0, 0, 0.25);
       background-color: rgba(76, 16, 131, 0.10);
       color: rgb(0, 0, 0);
       resize: none;
 }
<!--Not sure why this doesn't work?-->
input[type=textarea]:focus {
       background-color: rgb(173, 230, 212);
     }
select {
       width: 100%;
       padding: 5px;
       border: none;
       border-bottom: 2px solid rgba(0, 0, 0, 0.25);
       border-radius: 5px;
       background-color: rgba(75, 16, 131, 0.15)
     }
input[type=button], input[type=submit], input[type=reset] {
       background-color: rgba(75, 16, 131, 0.25);
       border: none;
       border-radius: 5px;
       color: rgba(75, 16, 131, 1.0);
       padding: 15px 30px;
       text-decoration: none;
       margin: 5px;
       cursor: pointer;
     }

.gallerycon { 
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       gap: 20px;
       padding-top: 20px;
}


.raterevcon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}

.ReviewForm{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.HappyPet1{
       width: 410px;
       border-radius: 20px;

}
.HappyPet2{
       width: 410px;
       border-radius: 20px;

}

.SeeReviews{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.faqscon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.FAQs{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.HappyPet3{
       width: 410px;
       border-radius: 20px;
       padding: 20px;

}
footer{
       width: 1020px;
       clear: both;
       color: #615D4A;
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
       text-align: center;
}

@media (max-width: 600px) {
       body{
              background-image: linear-gradient( hsl(50, 62%, 68%, .5),#8B7A88);
              background-size: cover; 
              background-repeat: no-repeat;
              justify-content: center;
              align-items: center;
              background-attachment: fixed;}
       .pagecontainer {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: center;
       }
       .homecon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       }
       .AboutMe {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
       }
       .Lady {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding-top: 20px;
       }
       .ContactMe {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
       }
       .MyCats {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
       }
       .gallerycon { 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
} 

          
}
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}