@charset "UTF-8"
* {
       box-sizing: border-box;
       margin: 0;
}
body {
       background: linear-gradient( hsl(50, 62%, 68%, .5),#8B7A88);
       background-size: cover; 
       background-repeat: no-repeat;
       justify-content: center;
       align-items: center;
       min-height: 100vh;

}
.pagecontainer {
       width: 1020px;
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
}
.dynapuff-googlefontmain {
       font-family: "DynaPuff", system-ui;
       font-optical-sizing: auto;
       font-weight: 550;
       font-style: normal;
       font-variation-settings:
         "wdth" 100;
     }
.atkinson-hyperlegible-mono-googlefontsecond {
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
       font-optical-sizing: auto;
       font-weight: 550;
       font-style: normal;
     }
header{
       height: 100%;
       width: 100%;
       text-align: center;
       margin-bottom: 30px;
}
h1 {
       color: #8B7A88;
       text-align: center;
}
h2 {
       color: #8B7A88;
       text-align: center;
}
h3 {
       color: #615D4A;
       text-align: left;
}

.topnav {
       overflow: hidden;
       background-color: rgba(255, 255, 255, 0.2);
       border-radius: 10px;
     }  
     .topnav a {
       float: left;
       display: block;
       color: #4A6160;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
     }
     
     .topnav a:hover {
       background-color: #E0CF79;
       color:#8B7A88;
     }
     
     .topnav a.active {
       background-color: #4A6160;
       color: #79E0DD;
     }    
     .topnav .icon {
       display: none;
     }
  

.homecon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.AboutMe {
       width: 410px;
       background-color: rgba(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.Lady {
       width: 410px;
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.contact-form-container {
        width: 410px;
        margin: 30px;
        padding: 20px;
        background-color: rgb(255, 255, 255, 0.25);
        border-radius: 20px;
        box-shadow: 0 5 5 0px rgba(0, 0, 0, 0.1);
       }
.contact-form h2 {
        color: #4A6160;
        font-family: dynapuff, serif;
       }     
.contact-form label {
        display: block;
        margin-bottom: 8px;
        color: #615D4A;
        font-family: Atkinson Hyperlegible Mono, sans-serif;
       }
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
       }
.contact-form input[type="submit"] {
        background-color:#4A6160;
        color:#79E0DD;
        padding: 10px 20px;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Atkinson Hyperlegible Mono, sans-serif;
       }
.contact-form input[type="submit"]:hover {
        background-color: #E0CF79;
        color:#4A6160;
       }

img { 
       border-radius: 20px;
}

.servicescon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.ServicesIncluded{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.treat {
       width: 410px;
       border-radius: 20px;
       padding: 10px;
       margin: 30px;
}
.kittyscritches {
       width: 410px;
       border-radius: 20px;
       padding: 10px;
       margin: 30px;
}
.ServiceAreaRadius {
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.availabilitycon{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.Calendar{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.MeetandGreet{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}

.gallerycon { 
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       gap: 20px;
       padding-top: 20px;
}
.raterevcon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.ReviewForm{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.HappyPet1{
       width: 410px;
       border-radius: 20px;
       padding: 10px;

}
.HappyPet2{
       width: 410px;
       border-radius: 20px;
       padding: 10px;

}
.SeeReviews{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.faqscon {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.FAQs{
       width: 410px;
       background-color: rgb(255, 255, 255, 0.25);
       border-radius: 20px;
       padding: 20px;
       margin: 30px;
}
.HappyPet3{
       width: 410px;
       border-radius: 20px;
       padding: 20px;

}
footer{
       width: 1020px;
       clear: both;
       color: #615D4A;
       font-family: "Atkinson Hyperlegible Mono", sans-serif;
       text-align: center;
}

@media screen and (max-width: 600px) {
       body{
              background-image: linear-gradient( hsl(50, 62%, 68%, .5),#8B7A88);
              background-size: cover; 
              background-repeat: no-repeat;
              justify-content: center;
              align-items: center;
              background-attachment: fixed;}
       .pagecontainer {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: center;
       }
       .homecon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       }
       .servicescon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       }
       .availabilitycon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       }
       .gallerycon { 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
} 
       .raterevcon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       } 
       .faqscon {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
       }    
}